<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Snacklist</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="row1">
    <div class="row1content">
        <h2>Snacks</h2>
        <p th:text="|${nrOfSnacks} snacks found|"></p>
        <div th:unless="${showFilters}" class="filters">
            <a class="buttonLook filterButton" th:href="@{/snacklist/filter}">filter</a>
        </div>
        <div class="filters" th:if="${showFilters}">
            <a class="buttonLook filterButton" th:href="@{/snacklist}">-</a>
            <form>
                <h3>Price</h3>
                <div class="onefilter">
                    <label for="filterPrice">Price:</label>
                    <input id="filterPrice" type="number" value="5" min="5" max="30" step="0.5">
                </div>
                <h3>Vegan</h3>
                <div class="onefilter">
                    <label for="vegan_yes" class="filtername">Yes</label>
                    <input type="radio" id="vegan_yes" value="yes">
                </div>
                <div class="onefilter">
                    <label for="vegan_no" class="filtername">No</label>
                    <input type="radio" id="vegan_no" value="no">
                </div>
                <div class="onefilter">
                    <label for="vegan_all" class="filtername">All</label>
                    <input type="radio" id="vegan_all" value="all">
                </div>
            </form>
        </div>
        <div class="cols2">
            <div th:each="snack : ${snacks}">
                <a class="buttonLook mediumButton" th:href="@{/snackdetails/${snack.getId()}}" th:text="${snack.getName()}"></a>
                <div th:if="${snack.isSideDishPossible()}">
                    <span>Side dish possible with order</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>